javaxml/src/main/resources/SomeClass.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="someclass">
        <xs:sequence>
            <xs:element name="someint" type="xs:int"/>
            <xs:element name="somestring" type="xs:string" minOccurs="0"/>
            <xs:element name="somedate" type="xs:date" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

